<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
        <link href="/css/main.css" rel="stylesheet" media="screen">
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="header">
            {% render 'WBCoreBundle:Nav:Header' %}

        </div>
        {% render 'WBCoreBundle:Nav:Navbar' %}


        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>



        {% block javascripts %}
            <script src="http://code.jquery.com/jquery-latest.js"></script>
            <script src="/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
