{# src/Acme/SecurityBundle/Resources/views/Security/login.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}


{% endblock %}

{% block title %}Workbook Login{% endblock %}

{% block bodyclass %}login{% endblock %}
{% block body %}
        <div class="login">
            <h1> LOGIN</h1>

            {% if error %}
                <div>{{ error.message }}</div>
            {% endif %}
            <form class="form-horizontal form-signin" action="{{ path('login_check') }}" method="post" >
                <div class="control-group">
                    <label  for="inputEmail">Benutzer</label>
                    <div class="controls">
                        <input type="text" id="inputEmail"   name="_username" value="{{ last_username }}">
                    </div>
                </div>
                <div class="control-group">
                    <label  for="inputPassword">Kennwort</label>
                    <div class="controls">
                        <input type="password" id="inputPassword" name="_password"  placeholder="Password">
                    </div>
                </div>
                <div class="control-group">
                        <label  for="remember"> Login Speichern</label>
                    <div class="controls">
                        <input id="remember" type="checkbox">
                        <button type="submit" class="btn">Sign in</button>
                    </div>
                </div>
            </form>
        </div>

{% endblock %}