<div class="dropdown">
<div class="dropdown-button"> offene Aufträge in der Nähe (*VAR*)</div>


<div class="dropdownList">

    <div class="dropdownBox">

        <div id="dropdownHead" class="dropdownHeadHeight">

            <div class="left dropdownHead">
                125
            </div>
            <div class="right dropdownHead">
                <div>
                    AuftragsOrt
                </div>
                <div>
                    AuftragsZeit
                </div>
            </div>


        </div>
        <div class="dropdownBottem">

            <div class="dropdownBottemText">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                magna aliquyam erat, 

            </div>
            <div class ="dropdownBottemAdresse">
                AufAdresse
            </div>
        </div>
    </div>


</div>
</div>