<div>
    <div class="background dropdown-button"> offene Aufträge in der Nähe (*VAR*)</div>
    <div class="dropdown-list">
        <div  class="dropdown-list-item">
            <div>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                et justo duo dolores
            </div>

        </div>
    </div>
</div>
