{# src/WB/CoreBundle/Resurces/views/nav/index.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block title %}Workbook 2.0 {% endblock %}


{% block body %}


    <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
    {% for key,entities in job_array %}
        <li {% if loop.first %}class="active"{% endif %}><a href="#{{ key }}" data-toggle="tab">{{ key|trans }} </a></li>
    {% endfor %}
    </ul>
        <div class="tab-content">

            {% for key,entities in job_array %}

                {% include 'WBCoreBundle:Job:table.html.twig'
                with {'key': key,'entities': entities,'active': loop.first}
                %}



            {% endfor %}
    </div>



{% endblock %}