<div class="job_overview_item_content" id="{{ id }}" data-mark="{{ mark }}">
<table class="records_list">
    <colgroup>
        <col width="2%">
        <col width="8%">
        <col width="10%">
        <col width="40%">
        <col width="5%">
        <col width="8%">
        <col width="8%">
        <col width="10%">
    </colgroup>
        <thead>
        <tr>
            <th>{% trans %}job.number{% endtrans %}</th>
            <th>{% trans %}job.customer{% endtrans %}</th>
            <th>{% trans %}job.address{% endtrans %}</th>
            <th>{% trans %}job.job{% endtrans %}</th>
            <th>{% trans %}job.type{% endtrans %}</th>
            <th>{% trans %}job.from{% endtrans %}</th>
            <th>{% trans %}job.to{% endtrans %}</th>
            <th>{% trans %}job.date{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
</table>
</div>